$primary-color: rgb(55, 151, 119);
$secondary-color: rgb(244, 206, 20);
$tertiary-color: rgb(245, 247, 248);
$dark-color: rgb(69, 71, 75);

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
